* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.header{
    background-image: url("../images/headerImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;
}

.head-text{
    position: absolute;
    color: white;
    top: 180px;
    left: 40px;
    display: inline-block;
}

.head-text p:nth-child(1){
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 10s steps(80, end) forwards;
}

@keyframes typing{
    from{width: 0}
    to{width:100%}
}

.head-text p:nth-child(1){
    font-size: 2.5em;
    font-weight: 600;
}

.head-text p:nth-child(2){
    font-size: 1.1em;
}

.headIns{
    position: absolute;
    background-color: rgba(39, 107, 107, 0.5);
    color: white;
    top: 350px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.headIns label{
    font-size: 16px;
}

.roomDeals{
    padding: 6em;
}

.roomDesc{
    align-self: center;
    font-size: 18px;
}

.roomDesc span{
    padding-right: 3px;
    color: goldenrod;
}

.roomSpec{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.roomImgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.firstImg{
    grid-column: span 4;
}

.btnRoom{
    padding: 5px 100px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: rgb(11, 49, 29);
    color: white;
    font-size: 15px;
}

.ourLocation{
    padding: 3em 60px;
}

.locations{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* position: relative; */
}

.locations img{
    width: 100%;
    border-radius: 1em;
}

.locations p{
    font-size: 18px;
    font-weight: 600;
    color: green;
}

.locations p::after{
    content: "*";
    color: red;
}

.locateBtn{
    background-color: rgb(27, 75, 49);
    color: white;
    padding: 3px 20px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.discount{
    background-color: rgba(238, 230, 163, 0.4);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
}

.discount img{
    height: 100vh;
    width: 100%;
}

.discountText{
    align-self: center;
}

.discountHeadText{
    font-weight: 600;
    font-size: 30px ;
}

.percentDiscount{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.percentDiscount span{
    font-weight: 800;
    font-size: 20px;
}

.fifteenPercent{
    border-right: 4px solid black;
    padding-right: 10px;
}

.offerDiscount span{
    color: red;
}

.discovery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 8em 6em;
}

.discoveryText{
    align-self: center;
}

.discoveryBtn{
    width: 100%;
    background-color: rgb(211, 152, 4);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    padding: 6px;
}

.discoveryImgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.disImg-2{
    position: absolute;
    left: 40px;
    bottom: 20px;
    z-index: -1;
}

.newsletter{
    background-color:rgba(238, 230, 163, 0.4);
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    gap: 30px;
    justify-content: space-evenly;
}

.newsletterForm{
    display: flex;
    align-items: center;
}

.newsletterForm input{
    padding: 5px;
    padding-right: 40em;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: rgb(37, 58, 37);
    color: white;
}

.newsletterForm input::placeholder{
    color: white;
}



/* Mobile Responsiveness */
@media (max-width:1100px){
    .roomDeals{
        padding: 6em 2em;
    }
}

@media (max-width:1000px){
    .discovery{
        grid-template-columns: 1fr;
        padding:6em 2em;
    }
    
    .discoveryImgs{
        width: 100%;
        overflow-y: hidden;
    }
}

@media (max-width: 900px){
    .locations{
        grid-template-columns: 1fr 1fr;
    }

    .roomSpec{
        display: grid;
        grid-template-columns: 1fr;
    }

    .roomImgs img{
        max-width: 100%;
    }

    .discount{
        grid-template-columns: 1fr;
    }

    .discount img{
        max-width: 100%;
        height: auto;
    }

    .discountText{
        padding: 20px;
    }

    .newsletterForm input{
        padding-right: 30em;
    }
}

@media (max-width:950px){
    .header{
        height: 800px;
    }

    .headIns{
        top: 450px;
    }
}

@media (max-width:750px){
    .newsletterForm input{
        padding-right: 10em;
    }
}

@media (max-width:700px){
    .header{
        height: 1050px;
    }

    .headIns{
        top: 550px;
    }
}

@media (max-width:420px){
    .headIns{
        top: 650px;
    }
}

@media (max-width: 400px){
    .locations{
        grid-template-columns: 1fr;
    }

    .newsletterForm input{
        padding-right: 1em;
    }
}

@media (max-width: 380px){
    .fifteenPercent{
        border-right: none;
        border-bottom: 4px solid black;
        padding-bottom: 40px;
        width: 100%;
    }
}

@media (max-width:290px){
    .header{
        height: 1400px;
        overflow-y: hidden;
    }

    .headIns{
        top: 950px;
    }
}

@media (max-width:215px){
    .header{
        height: 1700px;
        overflow-y: hidden;
    }

    .headIns{
        top: 1100px;
    }
}