.myNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    color: white;
    position: absolute;
    width: 100%;
}

.navbrand{
    display: flex;
    align-items: center;
}

.navLinks ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
}

.active{
    color: darkgoldenrod;
}

.navLinks ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: relative;
}

.navLinks ul li a::after {
    content: ''; /* Create an empty content element */
    display: block; /* Make it a block-level element to create a line underneath */
    width: 100%; /* Set the width to 100% to span the full width of the parent element */
    height: 2px; /* Adjust the height as needed for the underline */
    background-color: darkgoldenrod; /* Change the color to your preference */
    position: absolute; /* Position it absolutely relative to the parent */
    bottom: -10px; /* Position it at the bottom of the parent element */
    left: 0; /* Align it to the left edge of the parent element */
    transform: scaleX(0); /* Initially, set the line to have no width */
    transition: transform 0.2s; /* Add a smooth transition effect */
  }
  
.navLinks ul li a:hover::after {
    transform: scaleX(1); /* Expand the line to full width on hover */
  }

.navLinks ul li a:hover{
    content: "__________";
    color:rgb(211, 152, 4);
    
}

.navButtons{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.nav-button{
    padding: 9px 15px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 15px;
}

.signin{
    border-radius: 4px;
}

.signin:hover{
    background-color: rgb(211, 152, 4);
    transition: all 1s;
}

.register{
    background-color: darkslategray;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle{
    display: none;
}

@media (max-width:768px){
    .navLinks{
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        transition: left 0.3s ease-in-out;
        background-color: gray;
    }

    .navLinks .open{
        left: 100;
    }

    .navbar-toggle{
        display: block;
        cursor: pointer;
    }
}

@media (max-width:365px){
    .navButtons{
        display: none;
    }
}