.registerHere{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.registerText{
    padding: 2em;
}

.signText button{
    cursor: pointer;
}

.hr-demarcation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
}

.left-hr, .right-hr{
    width: 50%;
    border: 1px solid gray;
    background-color: black;
}

.registerRemember{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.registerRemember > div a{
    color: rgb(211, 152, 4);
}


@media (max-width:700px){
    .registerHere{
        grid-template-columns: 1fr;
    }

    .registerImg{
        display: none;
    }
}

@media (max-width: 400px){
    .registerRemember > div, .registerRemember > div a{
        font-size: 15px;
    }
}